<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <php>
        <env name='NIBII_DATASTORE' value='mysql' />
        <env name='NIBII_HOST' value='localhost' />
        <env name='NIBII_USER' value='root' />
        <env name='NIBII_PASSWORD' value='' />
        <env name='NIBII_DBNAME' value='ntentan_tests' />
        <env name='NIBII_PDO_DSN' value='mysql:host=localhost;dbname=ntentan_tests;user=root;password=root' />
        <env name='NIBII_NO_SCHEMAS' value='yes' />
    </php>
    <testsuites>
        <testsuite name="Main Test Suite">
            <directory>../cases</directory>    
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../../src</directory>
        </whitelist>
    </filter>        
</phpunit>
